<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>Index Html</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet" />
</head>
<script type="text/javascript" th:src="@{/jquery/jquery-1.12.4.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery/jquery.PrintArea.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        $("#print_button").click(function () {
            $("#print_div").printArea();
        });
    });
</script>
<body>
    <h1>使用Thymeleaf获取数据</h1>
    姓名：<span th:text="${person.name}" />
    <br/>
    年龄：<span th:text="${person.age}" />
    <hr/>
    <h1>使用Thymeleaf遍历数据</h1>
    <div th:if="${not #lists.isEmpty(names)}">
        <ul>
            <li th:each="str,strStat : ${names}" th:text="${str}"></li>
        </ul>
    </div>
    <hr/>
    <a  th:text="上传文件" th:href="@{/FileUploadController/toviewUploadPage}"/>
    <br/>
    <a  th:text="文件下载" th:href="@{/FileDownLoadController/toviewFileDownload}"/>
    <hr/>
    <h1>打印指定区域</h1>
    <div>
        <input  id="print_button" type="button" value="打印" />
    </div>
    <div id="print_div">
        <h3>我是被打印的区域……</h3>
    </div>
    <hr/>
</body>
</html>