<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>文件下载</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet" />
</head>
<script type="text/javascript" th:src="@{/jquery/jquery-1.12.4.min.js}"></script>
<script type="text/javascript" th:src="@{/ajaxfile/ajaxfileupload.js}"></script>
<script type="text/javascript" th:src="@{/layer/layer/layer.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
</script>
<body>
    <h1>文件下载</h1>
    <a th:href="@{/FileDownLoadController/download}" th:text="下载" />
</body>
</html>